@import '../../../../colors.scss';

.pcards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    // border: 2px solid rgb(0, 0, 0);
    border-radius: .5rem;
    background-color: $bg-color;

    width: 20rem;
    margin: 1rem;
    padding: 1rem;

    >a {
        text-decoration: none;
        color: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        >img{
            width: 8rem;
            height: 8rem;
        }

        >.pcards-content {
            >.point {

                >svg {
                    margin: 0 1rem;
                    width: 5rem;
                    height: 5rem;
                }
            }
        }
    }

    &:hover {
        background-color: $card-color;
        color: $text;
    }
}

@media screen and (max-width:"800px") {
    .pcards {
        padding: 0rem;

        >a {
            h3 {
                text-align: center;
            }

            >.pcards-content {
                >.point {
                    >svg {
                        margin: 0 1rem;
                        width: 5rem;
                        height: 5rem;
                    }
                }
            }
        }
    }

}