
.pricingPage {

    >.pri-back {
        height: 50px;
        margin: 0;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: sticky;
        top: 0;
        background-color: #ffc104;
        // backdrop-filter: blur(5px);

        >a {
            text-decoration: none;
            color: black;
        }
    }
}