.rcards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    // border: 2px solid rgb(0, 0, 0);
    border-radius: .5rem;
    background-color: #f89a9a;

    width: 20rem;
    margin: 1rem;
    padding: 1rem;

    >a {
        text-decoration: none;
        color: inherit;

        >.rcards-content {
            display: flex;
            flex-direction: column;



            // justify-content: flex-start;
            >.point {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
}