#garuntees {
    >h1 {
        margin: 1rem;
    }

    .g-card-row {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}

@media screen and (max-width : "800px") {
    #garuntees {
        .g-card-row {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
        }
    }
}